@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

//font-family: "Nunito Sans", sans-serif;

.container-fluid {
  .hello {
    color: greenyellow;
    background: black;
    border: 1px solid black;
    font-family: "Nunito Sans", sans-serif;
  }
}

.container {
  background-color: #16171A;
  color: #FFFFFF;
  border-radius: 40px;
  font-size: 11px;
  font-family: "Nunito Sans", sans-serif;
}

header {
  margin-bottom: 5px;
  ul {
    list-style: none;
  }
  a{
    text-decoration: none;
    color: #FFFFFF;
  }
}

.price {
  .item {
    font-size: 34px;
  }
  .days {
    margin-left: 18px;
  }
}