@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

//font-family: "Nunito Sans", sans-serif;

main {
  width: 100%;
  height: 100vh;
}

header, footer {
  height: 20%;
  width: 100%;
}

.container {
  background-color: #16171A;
  color: #FFFFFF;
  border-radius: 40px;
  font-size: 11px;
  font-family: "Nunito Sans", sans-serif;
}

header {
  margin-bottom: 15px;

  ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
  }

  ul li .dropdown-my {
    display: none;
    position: absolute;
    top: 47px;
    right: 177px;
  }
  ul li:hover .dropdown-my{
    display: block;
  }

  a {
    text-decoration: none;
    color: #FFFFFF;
  }

  .gpt {
    position: absolute;
    top: 0;
    left: 7px;
  }

  .img_net {
    position: absolute;
    top: 16px;
    left: 151px;
  }
}

.price {
  margin-bottom: 35px;

  .item {
    font-size: 34px;
    font-weight: 600;
    margin-right: 6px;
  }

  img:first-of-type {
    margin-right: 5px;
  }

  p:nth-of-type(2) {
    margin-left: 8px;
    margin-right:8px;
  }
}

.charts {
  width: 70%;
  margin: auto;
}

.date {
  margin-top: 100px;
}

footer {
  .col-3 {
    margin-bottom: 8px;
  }
}